.session-list {
  &.is-active {
    opacity: 1;
  }
  padding: 1rem;
  .is-child {
    cursor: pointer;
    .card,
    .card-content {
      background-color: transparentize($light, 0.9);
    }
    .card::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      z-index: -1;
      background-color: transparentize($light, 0.9);
      filter: blur(7px);
    }
  }
}

.session-info {
  padding: 1rem;
  .title {
    color: $white;
    font-size: $size-2;
    text-shadow: $title-shadow;
  }
  .subtitle {
    font-size: 0.9rem;
  }
}

.image-list {
  padding: 1rem;
  height: 100vh;
  overflow-y: scroll;

  .is-session-img {
    box-shadow: 0 2px 3px rgba($black, 0.4), 0 0 0 1px rgba($black, 0.4);
    .img-caption {
      position: absolute;
      width: 0;
      opacity: 0;
      height: 20%;
      background-color: $white;
      bottom: 0;
      @include transition(all, 0.3s);
      display: flex;
      padding-left: 0.25rem;
      justify-content: left;
      align-items: center;
      color: $dark;
      text-shadow: $subtitle-shadow;
      overflow: visible;
      text-transform: uppercase;
      font-size: $size-5;
      font-family: 'Roboto', $family-sans-serif;
      font-weight: $weight-bold;
      cursor: pointer;
    }
    &:hover {
      .img-caption {
        width: 100%;
        opacity: 1;
      }
    }
  }
  img {
    cursor: pointer;
    height: 100% !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
}
