.session-list {
  &.is-active {
    opacity: 1;
  }
  padding: 1rem;
  .is-child {
    cursor: pointer;
    .card,
    .card-content {
      background-color: transparentize($light, 0.9);
    }
    .card::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      z-index: -1;
      background-color: transparentize($light, 0.9);
      filter: blur(7px);
    }
  }
}

.session-info {
  padding: 1rem;
  .title {
    color: $white;
    font-size: $size-2;
    text-shadow: $title-shadow;
  }
  .subtitle {
    font-size: 0.9rem;
  }
}
