@charset "utf-8";
// Font Imports
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
// Colors
$primary: #262d32;
$dark: #1a1f23;
$info: #655492;
$link: #ef7f5a;
$background: $dark;
// Fonts
$family-sans-serif: 'Nunito', sans-serif;
@import 'css/fontello.css';
// Responsive Adjustments
$gap: 32px;
$tablet: 568px;
$desktop: 896px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);
// Navbar
$navbar-height: 3.4rem;
