@charset "utf-8";
// Font Imports
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
// Colors
$primary: #262d32;
$dark: #1a1f23;
$info: #28a4dc;
$link: #ef7f5a;
$error_color: #ff0033;
// $grey: #908e86;
$light: #f5f7f9;
$grey: #ced0d2;
$background: $dark;
$title-shadow: 2px 4px 3px transparentize($dark, 0);
$subtitle-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
// Fonts
$family-sans-serif: 'Nunito', sans-serif;
@import 'css/fontello.css';
// Responsive Adjustments
$gap: 16px;
$tablet: 568px;
$desktop: 896px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);
// Navbar
$navbar-height: 3.4rem;
// Timeline
$steps-active-color: #2db7f5;
$steps-completed-color: #2492c4;
