.navbar-item {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.navbar {
  max-height: $navbar-height;
  -webkit-app-region: drag;
}

#nav_menu {
  height: 100vh;
  width: $navbar-height;
}

// No Drag
.navbar-item,
a,
button {
  -webkit-app-region: no-drag !important;
}
